# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp

# Dataset folders
dataset/
dataset_lowerface/
dataset_processed/
raw_images/
docu.txt

# Model files
*.h5
models/face_obstruction_model.h5

# Keep the active model tracked
!models/face_obstruction_model2.h5

# Local Python environments
.venv/
build/
dist/
*.spec